.global-container {

    .main-container {
        width: 800px;
        height: 80%;
        padding: 15px 40px 0px 40px;
        background-color: rgb(240, 240, 240);
        box-shadow: 0.125em 0.175em 0.125em 0 rgba(0, 0, 0, 0.219);
        margin: auto;
        margin-top: 50px;

        h1 {
            width: 40%;
            color: rgb(44, 44, 44);
        }

        table, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table {
            margin: auto;
            width: 100%;

            td {
                text-align: center;
                padding: 5px 5px;
            }
        }

        
    }
}